#corpohome{
	
    background-image: url(./imagem/fundo6.gif);
    text-align: center;
    background-size:26%;
    padding-bottom: 10px;
}
#corpoindex{
	/*background-image: linear-gradient(to right, #00cccc, #00ffcc,#99ffcc);*/
    background-image: url(./fotocircuito.jpg);
    text-align: center;
    background-size:100%;
    padding-bottom: 10px;
}

*{margin: 10px 0px 0px 0px;padding: 0;}

.container{
	width: 1000px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.664);
    text-align: center;
    font-size: 20px;
    } 

.icon{
 width:50px;
 border-radius: 50%;
 transform: rotate(-45deg);
 position:relative;	
 margin-top: 5px;
}   
.divIcon{width:60px;height: 60px;  border: solid 5px black;border-style:double;transform: rotate(45deg);margin-bottom: 20px;}
.divIcon:hover{width:70px;height: 70px;}.divIcon:hover img{margin-top: 10px;}

.imagemcentral{width:80%;border-radius: 50%;transform: rotate(45deg);position:relative;	margin-top: 20px;}

.fundoImagem{background-image: url(./imagem/fun.jpg); width: 200px;height: 200px; margin: 20px auto;transform: rotate(-45deg);}

.linkImagem img{border: solid 5px black;border-radius: 50%;width: 100px;}

.linkImagem img:hover{opacity: 0.5;}

nav{width: 1000px;font-size: 20px;font-weight: bold;margin: auto;text-align:center;background-color: white;}

nav li{float: left; padding: 0px 80px;} nav ul{list-style-type: none;} nav a{text-decoration: none; color: black;background-color: white; height: 50px; }

.qualidade{width:300px;float: left;text-align: justify;padding: 15px;margin: auto;} .qualidade h4{text-align: center;}

h1{padding: 50px; font-size: 50px; clear: both;} h2{padding:20px;}

p{text-align: justify; padding: 30px;}

.imgjogo{ width: 20%; padding-bottom: 30px;} .imgjogo:hover{ width: 40%;}


.imagemsobre{
    border: solid 0.5px black;
    border-radius: 50%;
    -webkit-box-shadow: 15px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    15px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow:         15px 7px 5px rgba(50, 50, 50, 0.77); }


    
#TextoHome{text-align:center;background-color: rgba(0, 0, 0, 0.80);color: white;height: 100%;}

.TituloSobre{clear: both;}

#TextoHome a{text-decoration: none;} #TextoHome h1{font-size: 90px;}
    
.linkhome:hover{border: solid 3px white;border-radius: 10px;color: white;}

.linkhome{font-size: 20px; text-align:center; color: white; font-weight: bold;padding: 10px;}

.linkhome h2{font-size: 50px; padding: 0px;}

.imagemhome:hover{ border-color: white;}

#contato{text-align: center;color: white;font-size: 20px;font-weight: bold;clear: both;padding:20px;}

.imagemhome{
    width: 10%;
    border: solid 5px rgb(0, 0, 0);
    border-radius: 200px;
    float: left;
    margin: 45px;
}

footer{width: 1000px;margin: auto;background-color:rgba(255, 255, 255, 0.664);} footer p{font-size: medium;font-style: italic; margin-top:10px;text-align: center;padding: 10px;}

